{% extends 'count/base.html' %}

{% block head %}
<title>Duke Studio</title>
{# 单行注释 #}
{# include 'head/yiban.html' #}

{% endblock head %}

{% block main %}
{% include 'html/nav.html' %}

{% comment %}
多行注释
    <!--{% if list %}-->
    <!--<div id="main">-->
    <!--&lt;!&ndash;{{list}}&ndash;&gt;-->
    <!--<div id="section_post">-->
        <!--{% for line in list %}-->
            <!--<div class="entry">-->
                <!--<div class="entry-head">-->
                    <!--<h2 class="entry-title" itemprop="name">-->
                        <!--<a href="https://www.yiban.cn{{line.url}}">{{line.title}}</a>-->
                    <!--</h2>-->

                    <!--<div class="entry-cat">-->
                        <!--<i class="ipsicon ipsicon-devices"></i>&nbsp;&nbsp;{{line.author.name}}&nbsp;&nbsp;<i class="ipsicon ipsicon-date"></i>&nbsp;{{line.updateTime}}-->
                    <!--</div>-->
                <!--</div>-->
                <!--{% if line.images %}-->
                <!--<div class="entry-banner">-->
                    <!--<a href="https://www.yiban.cn{{line.url}}">-->
                        <!--<img src={{line.images.0}} alt="" height="130">-->
                        <!--&lt;!&ndash;<img width="680" height="130" alt={{line.title}} src="{{line.images.0}}" border="0" >&ndash;&gt;-->
                    <!--</a>-->
                <!--</div>-->
                <!--{%endif%}-->
                <!--<div class="entry-content">-->
                    <!--<span class="entry-content-excerpt" itemprop="description">-->
                        <!--<p>{{line.content}}</p>-->
                    <!--</span>-->
                    <!--<div class="entry-meta">-->
                        <!--<div class="entry-meta-box">-->
                            <!--<i class="ipsicon ipsicon-category ipsicon-rspace"></i>-->
                            <!--<a href="https://www.yiban.cn/Org/orglistShow/type/forum/puid/5189448/group_id/0#{{line.Sections_id}}" rel="category tag">{{line.Sections_name}}</a>-->
                        <!--</div>-->
                        <!--<i class="ipsicon ipsicon-msg ipsicon-rspace" icontext="评论："></i>{{line.replyCount}}-->
                        <!--<div class="entry-meta-right">-->
                            <!--<i class="ipsicon ipsicon-hot ipsicon-rspace" icontext="热度："></i>{{line.clicks}}<a class="entry-readmore" href="https://www.yiban.cn{{line.url}}" itemprop="url"><i class="ipsicon ipsicon-read ipsicon-rspace"></i>阅读全文</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--&lt;!&ndash;<p>{{line.status}}</p>&ndash;&gt;-->
        <!--{% endfor %}-->
    <!--</div>-->
<!--</div>-->
    <!--{% endif %}-->
{% endcomment %}
{% endblock main %}