

html{
  font-family: 'Source Han Serif/Noto Serif CJK';
}
@media screen and (min-width:800px){
.container {
  width: 80vw;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
}

@media screen and (max-width: 800px){
  .container{
    widows: 100vw;
    margin:0;
    padding:0;
  }
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#bio li, header>h1, a{
  display: inline-block;
}

h2{
  border-style: solid;
  border-color: #FFFFFF;
  border-bottom-color: black;
  text-indent: 1rem;
}

table{
  width: 100%;
}

footer{
  text-align: center;
}
section p{
  text-indent: 2rem;
}
img{
  width: 32px;
}