.container {
  width: 80vw;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
header>h1,a{
  display: inline-block;
}

h2{
  border-style: solid;
  border-color: #FFFFFF;
  border-bottom-color: black;
}

#bio li{
  align:0 auto;
  width: 15vw;
  display: inline-block;
  text-align: left;
}

table{
  width: 100%;
}

footer{
  text-align: center;
}
img{
  width: 32px;
}