<!--移动端模板-->
<!-- font-awesome -->
<link href="https://magicbox.bkclouds.cc/static_api/v3/bk_mobile/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
<!-- 蓝鲸提供的移动端公用样式库 -->
<link href="https://magicbox.bkclouds.cc/static_api/v3/bk_mobile/css/bkui.css" rel="stylesheet">
<!-- 引入jQuery2.0 -->
<script src="https://magicbox.bkclouds.cc/static_api/v3/bk_mobile/assets/js/jquery-2.0.0.min.js"></script>
<!-- 引入蓝鲸提供的公用js -->
<script src="https://magicbox.bkclouds.cc/static_api/v3/bk_mobile/js/bkui.js"></script>

