{% extends 'count/base.html' %}

{% block head %}
    <title>微社区</title>
<style>
    a{
    text-decoration: none;
    }
</style>

{# 单行注释 #}
{% endblock head %}

{% block main %}
{% include 'html/nav.html' %}

{% if articles %}
{% for article in articles %}
{% if article.status %}
            <div class="entry">
                <div class="entry-head">
                    <h2 class="entry-title" itemprop="name">
                        <a href="{{article.url}}">{{article.title}}</a>
                    </h2>

                    <div class="entry-cat">
                        <i class="ipsicon ipsicon-devices"></i>&nbsp;&nbsp;{{article.author.name}}&nbsp;&nbsp;<i class="ipsicon ipsicon-date"></i>&nbsp;{{article.updateTime}}
                    </div>
                </div>
                {% if article.images %}
                <div class="entry-banner">
                    <a href="{{article.url}}">
                        <img src={{article.images.0}} alt="" height="130">
                        <img width="680" height="130" alt={{article.title}} src="{{article.images.0}}" border="0" >
                    </a>
                </div>
                {%endif%}
                <div class="entry-content">
                    <span class="entry-content-excerpt" itemprop="description">
                        <p>{{article.content}}</p>
                    </span>
                    <div class="entry-meta">
                        <div class="entry-meta-box">
                            <i class="ipsicon ipsicon-category ipsicon-rspace"></i>
                            <a href="https://www.yiban.cn/Org/orglistShow/type/forum/puid/5189448/group_id/0#{{article.Sections_id}}" rel="category tag">{{article.Sections_name}}</a>
                        </div>
                        <i class="ipsicon ipsicon-msg ipsicon-rspace" icontext="评论："></i>{{article.replyCount}}
                        <div class="entry-meta-right">
                            <i class="ipsicon ipsicon-hot ipsicon-rspace" icontext="热度："></i>{{article.clicks}}<a class="entry-readmore" href="{{article.url}}" itemprop="url"><i class="ipsicon ipsicon-read ipsicon-rspace"></i>阅读全文</a>
                        </div>
                    </div>
                </div>
            </div>
        <!--<p>{{article.status}}</p>-->
{% endif %}
{% endfor %}
{% endif %}

{% comment %}
多行注释
{% endcomment %}
{% endblock main %}