{% extends 'count/base.html' %}

{% block head %}
<script>
</script>
{% endblock head %}

{% block main %}
    <form action="" method="post" target="_self">
        {% csrf_token %}
        <!--<input type="month" name="mouth">-->
        <label for="startTime">开始日期</label>
        <input type="date" name="startTime" id="startTime">
        <br>
        <label for="lastTime">结束日期</label>
        <input type="date" name="lastTime" id="lastTime">
        <br>
        <input type="submit" name="Submit">
    </form>
    <p>{{startTime}}-{{lastTime}}</p>
{% endblock main%}